*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url('b4.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.7);
    
    width:50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    width:90%;
    height: 90%;
    border:1px solid white;
    margin-left:5%;
    margin-top: 3%;
}
.container img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: relative;
    /* top: -10%; */
    left: 40%;
    transform: translate(-5%,-40%);
}
.main .container h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
.main .container h3{
    margin-top: 4%;
    color:white;
    text-align: center;
    font-size: 30px;

}
.container-input{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.container-input input[type="text"],.container-input input[type="password"]{
    border:none;
    outline:none;
    width:60%;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size:30px;
    border-bottom:1px solid white;
}
.container-input .fa{
    color: white;
    padding: 5px;
    padding-bottom:2px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.7);
    border-bottom:1px solid white;
}
.s1{
    margin-top: 30px;
    text-align: center;
}
.s1>input[type="submit"]{
    width:40%;
    height:40px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;;
    outline: none;
    border: none;
    border-radius:20px;
}
.s1>input[type="submit"]:hover{
    background-color: black;
    color: white;

}
    @media screen and ( max-width: 700px ) {
        body{
            height: auto;
            
        }
    img.responsive { 
        display: static;
        margin-top:10%;
     }
     .container img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: relative;
        left: 40%;
        transform: translate(-4%,-42%);
        margin-bottom: 0;
        padding-bottom: 0;
     }
    .main{
    width: 100vw;
    height:100vh;
    margin:0;
    }
    .container{
        width: 100%;
        height: 100%;
        position: static;
        margin-bottom: 0;
        margin: 0;
        border: none;
    }
    }
}

  